WebClienteMVC/WebClienteMVC/Connected Services/WCF_Apl_Dis/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.48:64594/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="Login_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login_UserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send_Token">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send_TokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Password">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_PasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="User" nillable="true" type="q1:Cls_Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_UserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="User" nillable="true" type="q2:Cls_Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_UserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_User" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_UserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Users">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_UsersResult" nillable="true" type="q3:ArrayOfCls_Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_User" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Search_UserResult" nillable="true" type="q4:Cls_Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_User_Status">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_User_StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_User_StatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Insumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Insumo" nillable="true" type="q5:Cls_Insumos" />
        <xs:element minOccurs="0" name="Id_Usuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_InsumoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Insumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Insumo" nillable="true" type="q6:Cls_Insumos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_InsumoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Stock_Insumos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Insumos" nillable="true" type="q7:ArrayOfCls_Insumos" />
        <xs:element minOccurs="0" name="Id_Usuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stock_InsumosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Insumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Insumo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_InsumoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Insumos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_InsumosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_InsumosResult" nillable="true" type="q8:ArrayOfCls_Insumos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Insumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insumo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_InsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Search_InsumoResult" nillable="true" type="q9:Cls_Insumos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CardexByInsumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Insumo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CardexByInsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_CardexByInsumoResult" nillable="true" type="q10:ArrayOfCls_CardexInsumos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Plato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Plato" nillable="true" type="q11:Cls_Platos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_PlatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Plato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Plato" nillable="true" type="q12:Cls_Platos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_PlatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Plato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Plato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PlatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Platos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PlatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_PlatosResult" nillable="true" type="q13:ArrayOfCls_Platos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Plato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Plato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_PlatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Search_PlatoResult" nillable="true" type="q14:Cls_Platos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Stock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Plato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_StockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_StockResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Promocion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Promocion" nillable="true" type="q15:Cls_Promociones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_PromocionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Promocion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Promocion" nillable="true" type="q16:Cls_Promociones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_PromocionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Promocion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Promocion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PromocionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Promociones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Listar_Todo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PromocionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_PromocionesResult" nillable="true" type="q17:ArrayOfCls_Promociones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Promocion_Platos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Promocion_PlatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Promocion_PlatosResult" nillable="true" type="q18:ArrayOfCls_Promocion_Plato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Promocion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Promocion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_PromocionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Search_PromocionResult" nillable="true" type="q19:Cls_Promociones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Venta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Venta" nillable="true" type="q20:Cls_Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_VentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Venta_Return_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="venta" nillable="true" type="q21:Cls_Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Venta_Return_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_Venta_Return_IdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Venta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Venta" nillable="true" type="q22:Cls_Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_VentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="State_Venta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Venta" nillable="true" type="q23:Cls_Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="State_VentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Estado_Venta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Estado_VentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Estado_VentaResult" nillable="true" type="q24:Cls_Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Ventas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_VentasResult" nillable="true" type="q25:ArrayOfCls_Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Venta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Venta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_VentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Search_VentaResult" nillable="true" type="q26:Cls_Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_id_venta_activa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Venta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_id_venta_activaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_id_venta_activaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Compra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Compra" nillable="true" type="q27:Cls_Compras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_CompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Compra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Compra" nillable="true" type="q28:Cls_Compras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="State_Compra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Compra" nillable="true" type="q29:Cls_Compras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="State_CompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Compras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ComprasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_ComprasResult" nillable="true" type="q30:ArrayOfCls_Compras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Compra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Compra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_CompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Search_CompraResult" nillable="true" type="q31:Cls_Compras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Compra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Compra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DetallesCompraByCompraId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Compra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DetallesCompraByCompraIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_DetallesCompraByCompraIdResult" nillable="true" type="q32:ArrayOfCls_DetalleCompras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_DetallesCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Compra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_DetallesCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_DetalleCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Detalle" nillable="true" type="q33:Cls_DetalleCompras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_DetalleCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Comentario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Comentario" nillable="true" type="q34:Cls_Comentarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_ComentarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Comentario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Comentario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ComentarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Comentarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contexto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_Relacionado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ComentariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_ComentariosResult" nillable="true" type="q35:ArrayOfCls_Comentarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Comentarios_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Comentarios_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Comentarios_AllResult" nillable="true" type="q36:ArrayOfCls_Comentarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_KPI_Dinamico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="IdPlato" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_KPI_DinamicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_KPI_DinamicoResult" nillable="true" type="q37:Cls_KPI_Dinamico_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Alertas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AlertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_AlertasResult" nillable="true" type="q38:ArrayOfCls_Alerta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesar_Pago">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="objCartera" nillable="true" type="q39:Cls_Cartera" />
        <xs:element minOccurs="0" name="monto" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesar_PagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Procesar_PagoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>